<footer class="row row-col-2 justify-content-start">
    <h6 class="col">
        HS &copy; All Rights Recived 2021
    </h6>
    <a href='#header' class="col justify-content-end fs-3">Top</a>
</footer>