<footer class="bg-dark text-white fixed-bottom">
    <div class="container text-center ">
    <h6 class="fw-bold d-inline ">
        HS &copy; All Rights Recived 2021
    </h6>
    <a href='#header' class="fs-3">Top</a>
    </div>
</footer>