<header id="header">
    <div class="container">
<div class="row row-col-3">
<h1 class="col">
<a href="/" class="">NEWS APP</a>
</h1>
<div class="col">
<h2>Search For News All Over The World</h2>
</div>
<form id="searchForm" class="form" action="/search" method="GET">
    <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="What are you searching for ?!" name='Word' id="word">
    <input type="submit" class="fs-5 bg-primary" value="Submit">
  </div>
</form>
</div>
    </div>
</header>