<header id="header">
    <div class="container">
<div class="row row-col-3">
<h1 class="col">
<a href="/" class="">NEWS APP</a>
</h1>
<div class="col">
<h2>Search For News All Over The World</h2>
</div>
</div>
    </div>
</header>